ul{
    list-style: none;
    margin-top: 10vh;
}

body{
    background-color: rgb(238, 247, 255);
}

.line-through{
 text-decoration : line-through;
}

.ligth{
    color:rgba(206, 206, 206, 0.479);
}

.width{
    width: 35vw;
}